@import "../fonts/fontawesome/css/all.css";
.text-card{
	font-size:20px;
	color:#333;
	font-weight: bold;
}
.number-card{
	color:#333;
	font-weight: bold;
	font-size:18px;
}
.progress{
	height: 0.357rem !important;
}
.card-content{
	padding:0.3rem 1rem;
}

.btn-sm{
	padding:4px 10px !important
}

.card-body a{
    font-size:14px;
    color:gray;
}
.boxes{
    max-height: calc(800px - 121px) !important;
    height: 800px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right:20px;
}
.menu-item{
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.nav-itam a{
	font-size: 1.5rem;
    color: #475F7B;
    vertical-align: middle;
    cursor: pointer;
    -webkit-text-stroke: 0.2px #FFFFFF;
}
.header-navbar .navbar-container ul.nav li i.bx-help-circle {
    font-size: 1.5rem;
    color: #475F7B;
    vertical-align: middle;
    cursor: pointer;
	-webkit-text-stroke: 0.2px #FFFFFF;
}
.header-navbar .navbar-container ul.nav li a.nav-link-help{
	padding: 1.5rem 0.75rem 1.15rem 0.75rem;
	float:left;
}
.logo img{
    height:200px;
     width:100%
}
.bxl-visa{
    font-size: 24px;
    vertical-align: middle;
}
.main-res-info{
    font-size: 1rem;
   color:#262B56; 
}
.hr-color{
    border-top: 1px solid #aeaef7;
}
.resource-rate,.resource-level{
    font-weight: bold;
}
.progress-bar-gray .progress-bar{
    background-color: #555;
    box-shadow: 0 2px 6px 0 rgba(255, 255, 255, 0.6);
}
.card-blue{ 
    background: rgb(63,53,246);
background: linear-gradient(90deg, rgba(63,53,246,1) 0%, rgba(84,84,227,1) 35%, rgba(0,212,255,1) 100%);
}
.card-green{
    background: rgb(52,106,0);
    background: linear-gradient(90deg, rgba(52,106,0,1) 0%, rgba(28,175,104,1) 35%, rgba(215,196,62,1) 100%);
}

.card-white{
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(228,228,246,1) 35%, rgba(229,239,241,1) 100%);
}
@media (max-width: 576px) {
.w-sm-100{
    width:100%; /*change*/
}

}
